@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    background-color: white;
    margin: 0px;
    scroll-behavior: smooth;
}

hr {
    margin: 52px;
    opacity: 0.3;
}

/* =================================================== */
/* Header ================================================== */
/* =================================================== */


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    background-color: #D9D9D9;
    transition: .9s;
}

.header.sticky {
    display: flex;
    transition: all .5s ease-out;
    align-items: center;
    background-color: white;
    box-shadow: 2px 8px 5px rgba(0, 0, 0, 0.199);
}

.navbar-title {
    text-decoration: none;
    transition: .3s;
    cursor: pointer;
    color: black;
    font-size: 22px;
    font-weight: 700;
    margin: 42px;
}

.navbar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    margin: 42px;

}


.navbar a {
    text-decoration: none;
    transition: .3s;
    cursor: pointer;
    color: black;
    margin-left: 122px;
}

.navbar a:hover {
    color: cadetblue;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    transition: .3s;
}

.content-hg {
    height: 3px;
    width: 25px;
    background-color: black;
}

@media (width <=899px) {
    .hamburger {
        display: flex;
    }

    .navbar a {
        display: none;
    }

    .navbar.active a {
        display: flex;
        margin-top: 5px;
    }

    .navbar.active {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 32px;
    }

    .navbar.active .header.sticky {
        background-color: white;
    }

    .hamburger.active .content-hg {
        transition: .3s;
        transition-timing-function: ease-out;

    }

    .hamburger .content-hg {
        transition: .3s;
        transition-timing-function: ease-in;

    }

    /* Hamburger Animation */
    .hamburger.active .content-hg:nth-child(1) {
        opacity: 0;
    }

    .hamburger.active .content-hg:nth-child(2) {
        rotate: 45deg;
        position: absolute;
    }

    .hamburger.active .content-hg:nth-child(3) {
        rotate: -45deg;
        position: absolute;
    }

}

/* =================================================== */
/* Details Section ============================================= */
/* =================================================== */

.pic-title {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pic-title img {
    width: auto;
    height: 500px;
}

.pic-title h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 42px;
}

.pic-title h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 22px;
    color: #888888;
}

/* =================================================== */
/* Spec Section ============================================= */
/* =================================================== */

.specifications-details {
    display: flex;
    flex-direction: column;

}

.sd {
    display: flex;

    min-height: 18vh;
    text-align: start;
    color: rgb(0, 0, 0);
}

.spec {
    justify-content: space-evenly;
    font-size: 25px;

    align-items: center;
    flex-wrap: wrap;
    padding: 8vh;
    gap: 12px;
}

@media (width <=1600px) {
    .spec {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

/* Buy Button */

.price-buy {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 10vh;
    padding-right: 10vh;
}

.pb-left h1 {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 54px;
}

.pb-left h4 {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
}

.pb-right h1 {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 54px;
    font-weight: 300;
    cursor: pointer;
}

/* Strong Description */
#s-desc {
    margin-top: 4vh;
    margin-left: 10vh;
    margin-right: 10vh;
    font-size: 18px;
    color: #888888;
}

/* =================================================== */
/* Footer & Prefooter ============================================= */
/* =================================================== */

.prefooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 32px;
}

.prefooter h4 {
    margin-bottom: 0;
    margin-top: 4px;
    font-weight: 400;
    font-size: 16px;
    color: #888888;
}

.prefooter h1 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 42px;
}

/* Footer */

.footer {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    padding: 82px;
}

.footer h1 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 20px;
}

.footer p {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 16px;
    color: #888888;
    font-weight: 500;
}

.content-fr-1 {
    display: flex;
    flex-direction: row;
    gap: 82px;
}

#text-copyright {
    margin-top: 72px;
}

.footer-left {
    text-align: end;
    max-width: 24vh;
}

@media (width <=880px) {
    .footer-left {
        text-align: center;
        max-width: 24vh;
    }

    .footer {
        justify-content: center;
    }

    .footer-right {
        margin-top: 82px;
    }
}